:root {
  --primary-color: #2563EB;
  --secondary-color: #3B82F6;
  --success-color: #22C55E;
  --danger-color: #EF4444;

  --background-color: #F8FAFC;
  --border-color: #E5E7EB;

  --text-primary: #1F2937;
  --text-secondary: #6B7280;
  --white: #FFFFFF;
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
}