.attendance-page{
    padding: 20px;
    background:#f5f7fb;
    min-height: 100vh;
}

.attendance-page h2{
    margin-bottom: 25px;
    color:var(--text-primary);
    font-size: 32px;
}

.summary-cards{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.summary-card{
    width: 250px;
    padding: 20px;
}

.card-content h4{
    margin: 0;
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 500;
}

.card-content h2{
    margin-top:12px;
    color: var(--secondary-color);
    font-size: 38px;
    font-weight: bold;
}

.attendance-form-container{
    background: var(--white);
    padding:25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.attendance-form-container h3{
    margin-bottom: 20px;
    color: var(--text-secondary);
}

.attendance-form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 18px;
}

.attendance-form select{
    width:100%;
    padding: 12px;
    border: 1px solid#f5f7fb;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
    border:1px solid #d1d5db;
}

.attendance-form select:focus{
    border-color:var(--primary-color);
}

.table-container{
    background: var(--white);
    border-radius: 12px;
    padding: 12px;
    height: 500px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.MuiDataGrid-root{
    border: none !important;
}

.MuiDataGrid-columnHeaders{
    background: var(--secondary-color);
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
}

.MuiDataGrid-columnHeaderTitle{
    font-weight: bold !important;
}

.MuiDataGrid-row:hover{
    background: var(--white);
}

.MuiDataGrid-cell{
    display: flex;
    align-items: center;
}

@media(max-width:768px){
    .attendance-form{
        grid-template-columns: 1fr;
    }
    .summary-cards{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
    .summary-card{
        width: 100%;
    }

    .table-container{
        overflow-x: auto;
    }
}