.app-footer {
  width: 100%;
  display: flex;
  padding: .9375rem 1.875rem;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: .375rem;
  border-top: .0625rem solid var(--border-color);
  color: var(--text-primary);
  text-align: center;
}

.app-footer p,
.app-footer span {
  margin: 0;
  font-size: .9rem;
}

.app-footer span {
  color: #64748b;
}

@media (max-width: 48rem) {
  .app-footer {
    padding: .9375rem;
  }
}