.sidebar {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white);
  flex-shrink: 0;
  top: 0;
  overflow-y: auto;
}

.menu {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}

.menu span {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.menu:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar .active {
  background-color: var(--white);
  color: var(--primary-color);
  font-weight: bold;
}

.logout {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}